<div class="h-screen">
    <div class="flex items-center justify-center flex-wrap" *ngIf="chosenFilm">
        <div>
            <p class="text-white">{{chosenFilm}}</p>
        </div>
        <div class="basis-full h-0"></div>
        <img class="w-1/4 h-auto" [src]="'assets/images/' + chosenFilm + '.jpg'" alt="">
        <div class="basis-full h-0"></div>
        
        <div class="text-white" *ngIf="comments.length > 0">
            <table class="border border-solid border-white">
                <tr>
                    <th class="border border-solid border-white">Felhasználó</th>
                    <th class="border border-solid border-white">Komment</th>
                    <th class="border border-solid border-white">Dátum</th>
                </tr>
                <tr *ngFor="let comment of comments; let i = index;" [ngClass]="i % 2 === 0 ? 'bg-slate-300' : 'bg-orange-600'">
                <td class="border border-solid border-white">{{comment.username}}</td> 
                <td class="border border-solid border-white">{{comment.comment}}</td> 
                <td class="border border-solid border-white">{{comment.date | dateFormat}}</td> 
                </tr>
            </table>
        </div>

        <div class="basis-full h-0"></div>

        <form [formGroup]="commentsForm" (ngSubmit)="addComment()">
            <div class="my-2">
                <label class="text-white" for="username">Felhasználónév: </label>
                <input type="text" formControlName="username"/>
            </div>
            <div class="basis-full h-0"></div>
            <div class="my-2">
                <textarea cols="50" rows="10" formControlName="comment"></textarea>
            </div>
            <div class="basis-full h-0"></div>
            <div>
                <button class="text-white bg-gray-400 p-2" type="submit">ADD</button>
            </div>
        </form>
    </div>
</div>