<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (selectedPage)="changePage($event)" [currentPage]="page" (onCloseSidenav)="onClose($event, sidenav)"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="bg-black text-white">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div fxLayout fxLayoutAlign="space-around start" >
        <p class="font-bold mr-2">CAMPUS CINEMA</p> 
        <mat-icon>movie</mat-icon>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="list-none p-0 m-0">
          <li>
            <a routerLink="/login" class="hover:text-white active:text-yellow-300">Bejelentkezés</a>
          </li>
          <li>
            <a routerLink="/registration" class="hover:text-white active:text-yellow-300">Regisztráció</a>
          </li>
          <li>
            <a routerLink="/main" class="hover:text-white active:text-yellow-300">Főoldal</a>
          </li>
          <li>
            <a routerLink="/cinema" class="hover:text-white active:text-yellow-300">Cinema</a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
