<div class="flex flex-col justify-center text-center h-screen bg-black">
    <h1 class="text-white text-3xl">Register my boi!</h1>
    <form class="flex flex-col justify-center text-center items-center" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="m-3 w-1/2">
            <mat-label for="email">Email: </mat-label>
            <input matInput type="text" formControlName="email">
        </mat-form-field>
        <mat-form-field class="m-3 w-1/2">
            <mat-label for="password">Jelszó: </mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <mat-form-field class="m-3 w-1/2">
            <mat-label for="passwordAgain">Jelszó újra: </mat-label>
            <input matInput type="password" formControlName="passwordAgain">
        </mat-form-field>
        <div formGroupName="name" class="flex flex-col justify-center text-center items-center w-1/2">
            <mat-form-field class="m-3 w-full">
                <mat-label for="firstname">Vezetéknév: </mat-label>
                <input matInput type="text" formControlName="firstname">
            </mat-form-field>
            <mat-form-field class="m-3 w-full">
                <mat-label for="lastname">Keresztnév: </mat-label>
                <input matInput type="text" formControlName="lastname">
            </mat-form-field>
        </div>
        <span>
            <button class="text-white p-3 m-3 bg-gray-600 rounded-lg" (click)="goBack()">Vissza</button>
            <button type="submit" class="p-3 m-3 bg-[#FF0000] text-black rounded-lg">Regisztráció</button>
        </span>
    </form>
</div>
